@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 10 10 10;
    --foreground: 255 255 255;
  }

  body {
    background-color: theme('colors.background');
    color: theme('colors.foreground');
    font-family: theme('fontFamily.sans');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-muted/80 backdrop-blur-md border border-border rounded-xl;
  }
}